<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>audit.session.member_clear_sflags_mask</string>
	<string>audit.session.member_set_sflags_mask</string>
	<string>audit.session.superuser_clear_sflags_mask</string>
	<string>audit.session.superuser_set_sflags_mask</string>
	<string>debug.bpf_bufsize</string>
	<string>debug.bpf_maxbufsize</string>
	<string>debug.bpf_maxdevices</string>
	<string>debug.darkwake</string>
	<string>debug.iokit</string>
	<string>debug.iotrace</string>
	<string>debug.kextlog</string>
	<string>debug.lowpri_throttle_enabled</string>
	<string>debug.lowpri_throttle_max_iosize</string>
	<string>debug.lowpri_throttle_tier1_io_period_msecs</string>
	<string>debug.lowpri_throttle_tier1_io_period_ssd_msecs</string>
	<string>debug.lowpri_throttle_tier1_window_msecs</string>
	<string>debug.lowpri_throttle_tier2_io_period_msecs</string>
	<string>debug.lowpri_throttle_tier2_io_period_ssd_msecs</string>
	<string>debug.lowpri_throttle_tier2_window_msecs</string>
	<string>debug.lowpri_throttle_tier3_io_period_msecs</string>
	<string>debug.lowpri_throttle_tier3_io_period_ssd_msecs</string>
	<string>debug.lowpri_throttle_tier3_window_msecs</string>
	<string>debug.toggle_address_reuse</string>
	<string>hw.activecpu</string>
	<string>hw.busfrequency</string>
	<string>hw.busfrequency_max</string>
	<string>hw.busfrequency_min</string>
	<string>hw.byteorder</string>
	<string>hw.cacheconfig</string>
	<string>hw.cachelinesize</string>
	<string>hw.cachesize</string>
	<string>hw.cpu64bit_capable</string>
	<string>hw.cpufamily</string>
	<string>hw.cpufrequency</string>
	<string>hw.cpufrequency_max</string>
	<string>hw.cpufrequency_min</string>
	<string>hw.cpusubtype</string>
	<string>hw.cputhreadtype</string>
	<string>hw.cputype</string>
	<string>hw.l1dcachesize</string>
	<string>hw.l1icachesize</string>
	<string>hw.l2cachesize</string>
	<string>hw.l3cachesize</string>
	<string>hw.logicalcpu</string>
	<string>hw.logicalcpu_max</string>
	<string>hw.memsize</string>
	<string>hw.ncpu</string>
	<string>hw.optional.aes</string>
	<string>hw.optional.avx1_0</string>
	<string>hw.optional.avx2_0</string>
	<string>hw.optional.bmi1</string>
	<string>hw.optional.bmi2</string>
	<string>hw.optional.enfstrg</string>
	<string>hw.optional.f16c</string>
	<string>hw.optional.floatingpoint</string>
	<string>hw.optional.fma</string>
	<string>hw.optional.hle</string>
	<string>hw.optional.mmx</string>
	<string>hw.optional.rdrand</string>
	<string>hw.optional.rtm</string>
	<string>hw.optional.sse</string>
	<string>hw.optional.sse2</string>
	<string>hw.optional.sse3</string>
	<string>hw.optional.sse4_1</string>
	<string>hw.optional.sse4_2</string>
	<string>hw.optional.supplementalsse3</string>
	<string>hw.optional.x86_64</string>
	<string>hw.packages</string>
	<string>hw.pagesize</string>
	<string>hw.physicalcpu</string>
	<string>hw.physicalcpu_max</string>
	<string>hw.tbfrequency</string>
	<string>kern.affinity_sets_enabled</string>
	<string>kern.affinity_sets_mapping</string>
	<string>kern.aiomax</string>
	<string>kern.aioprocmax</string>
	<string>kern.aiothreads</string>
	<string>kern.argmax</string>
	<string>kern.bootargs</string>
	<string>kern.bootsessionuuid</string>
	<string>kern.bootsignature</string>
	<string>kern.boottime</string>
	<string>kern.clockrate</string>
	<string>kern.coredump</string>
	<string>kern.corefile</string>
	<string>kern.delayterm</string>
	<string>kern.ds_supgroups_supported</string>
	<string>kern.flush_cache_on_write</string>
	<string>kern.hibernatefile</string>
	<string>kern.hibernategraphicsready</string>
	<string>kern.hibernatehidready</string>
	<string>kern.hibernatelockscreenready</string>
	<string>kern.hibernatemode</string>
	<string>kern.hibernatewakenotification</string>
	<string>kern.hostid</string>
	<string>kern.hostname</string>
	<string>kern.ignore_is_ssd</string>
	<string>kern.interrupt_timer_coalescing_enabled</string>
	<string>kern.ipc.io_policy.log</string>
	<string>kern.ipc.io_policy.throttled</string>
	<string>kern.ipc.io_policy.uuid</string>
	<string>kern.ipc.maxsockbuf</string>
	<string>kern.ipc.maxsockets</string>
	<string>kern.ipc.mb_normalized</string>
	<string>kern.ipc.mb_watchdog</string>
	<string>kern.ipc.mleak_sample_factor</string>
	<string>kern.ipc.njcl</string>
	<string>kern.ipc.njclbytes</string>
	<string>kern.ipc.nmbclusters</string>
	<string>kern.ipc.sockbuf_waste_factor</string>
	<string>kern.ipc.sodefunctlog</string>
	<string>kern.ipc.somaxconn</string>
	<string>kern.ipc.soqlencomp</string>
	<string>kern.ipc.soqlimitcompat</string>
	<string>kern.ipc.sorecvmincopy</string>
	<string>kern.ipc.sorestrictrecv</string>
	<string>kern.ipc.sosendjcl</string>
	<string>kern.ipc.sosendjcl_ignore_capab</string>
	<string>kern.ipc.sosendminchain</string>
	<string>kern.ipc.sotcdb</string>
	<string>kern.ipc.sothrottlelog</string>
	<string>kern.ipc_portbt</string>
	<string>kern.jnl_trim_flush</string>
	<string>kern.job_control</string>
	<string>kern.kdebug_thread_block</string>
	<string>kern.lctx.count</string>
	<string>kern.lctx.last</string>
	<string>kern.lctx.max</string>
	<string>kern.maxfiles</string>
	<string>kern.maxfilesperproc</string>
	<string>kern.maxnbuf</string>
	<string>kern.maxproc</string>
	<string>kern.maxprocperuid</string>
	<string>kern.maxvnodes</string>
	<string>kern.memorystatus_purge_on_critical</string>
	<string>kern.memorystatus_purge_on_urgent</string>
	<string>kern.memorystatus_purge_on_warning</string>
	<string>kern.memorystatus_vm_pressure_level</string>
	<string>kern.msgbuf</string>
	<string>kern.namecache_disabled</string>
	<string>kern.nbuf</string>
	<string>kern.netboot</string>
	<string>kern.ngroups</string>
	<string>kern.nisdomainname</string>
	<string>kern.num_files</string>
	<string>kern.num_tasks</string>
	<string>kern.num_taskthreads</string>
	<string>kern.num_threads</string>
	<string>kern.num_vnodes</string>
	<string>kern.nx</string>
	<string>kern.osrelease</string>
	<string>kern.osrevision</string>
	<string>kern.ostype</string>
	<string>kern.osversion</string>
	<string>kern.posix.sem.max</string>
	<string>kern.posix1version</string>
	<string>kern.preheat_pages_max</string>
	<string>kern.preheat_pages_min</string>
	<string>kern.procname</string>
	<string>kern.progressmeter</string>
	<string>kern.progressmeterenable</string>
	<string>kern.rage_vnode</string>
	<string>kern.safeboot</string>
	<string>kern.saved_ids</string>
	<string>kern.sched</string>
	<string>kern.secure_kernel</string>
	<string>kern.securelevel</string>
	<string>kern.shreg_private</string>
	<string>kern.singleuser</string>
	<string>kern.sleeptime</string>
	<string>kern.slide</string>
	<string>kern.speculative_prefetch_max</string>
	<string>kern.speculative_prefetch_max_iosize</string>
	<string>kern.speculative_reads_disabled</string>
	<string>kern.stack_depth_max</string>
	<string>kern.stack_size</string>
	<string>kern.sugid_coredump</string>
	<string>kern.sugid_scripts</string>
	<string>kern.sysv.semmni</string>
	<string>kern.sysv.semmns</string>
	<string>kern.sysv.semmnu</string>
	<string>kern.sysv.semmsl</string>
	<string>kern.sysv.semume</string>
	<string>kern.sysv.shmall</string>
	<string>kern.sysv.shmmax</string>
	<string>kern.sysv.shmmin</string>
	<string>kern.sysv.shmmni</string>
	<string>kern.sysv.shmseg</string>
	<string>kern.tfp.policy</string>
	<string>kern.threadname</string>
	<string>kern.timer.coalescing_enabled</string>
	<string>kern.timer.deadline_tracking_bin_1</string>
	<string>kern.timer.deadline_tracking_bin_2</string>
	<string>kern.timer.longterm.qlen</string>
	<string>kern.timer.longterm.threshold</string>
	<string>kern.timer_coalesce_bg_ns_max</string>
	<string>kern.timer_coalesce_bg_scale</string>
	<string>kern.timer_coalesce_fp_ns_max</string>
	<string>kern.timer_coalesce_fp_scale</string>
	<string>kern.timer_coalesce_idle_entry_hard_deadline_max</string>
	<string>kern.timer_coalesce_kt_ns_max</string>
	<string>kern.timer_coalesce_kt_scale</string>
	<string>kern.timer_coalesce_tier0_ns_max</string>
	<string>kern.timer_coalesce_tier0_scale</string>
	<string>kern.timer_coalesce_tier1_ns_max</string>
	<string>kern.timer_coalesce_tier1_scale</string>
	<string>kern.timer_coalesce_tier2_ns_max</string>
	<string>kern.timer_coalesce_tier2_scale</string>
	<string>kern.timer_coalesce_tier3_ns_max</string>
	<string>kern.timer_coalesce_tier3_scale</string>
	<string>kern.timer_coalesce_tier4_ns_max</string>
	<string>kern.timer_coalesce_tier4_scale</string>
	<string>kern.timer_coalesce_tier5_ns_max</string>
	<string>kern.timer_coalesce_tier5_scale</string>
	<string>kern.timer_coalesce_ts_ns_max</string>
	<string>kern.timer_coalesce_ts_scale</string>
	<string>kern.tty.ptmx_max</string>
	<string>kern.usrstack</string>
	<string>kern.usrstack64</string>
	<string>kern.uuid</string>
	<string>kern.version</string>
	<string>kern.vm_max_batch</string>
	<string>kern.vm_max_delayed_work_limit</string>
	<string>kern.vm_page_free_min</string>
	<string>kern.vm_page_free_reserved</string>
	<string>kern.vm_page_free_target</string>
	<string>kern.vm_page_speculative_percentage</string>
	<string>kern.vm_page_speculative_q_age_ms</string>
	<string>kern.waketime</string>
	<string>kern.willshutdown</string>
	<string>kern.wq_max_constrained_threads</string>
	<string>kern.wq_max_threads</string>
	<string>kern.wq_max_timer_interval_usecs</string>
	<string>kern.wq_reduce_pool_window_usecs</string>
	<string>kern.wq_stalled_window_usecs</string>
	<string>kern.wq_yielded_threshold</string>
	<string>kern.wq_yielded_window_usecs</string>
	<string>kern.zleak.active</string>
	<string>kern.zleak.global_threshold</string>
	<string>kern.zleak.max_zonemap_size</string>
	<string>kern.zleak.zone_threshold</string>
	<string>kpc.classes</string>
	<string>kpc.counting</string>
	<string>kpc.thread_counting</string>
	<string>kperf.blessed_pid</string>
	<string>kperf.debug_level</string>
	<string>kperf.kdbg_cswitch</string>
	<string>machdep.cpu.address_bits.physical</string>
	<string>machdep.cpu.address_bits.virtual</string>
	<string>machdep.cpu.arch_perf.events</string>
	<string>machdep.cpu.arch_perf.events_number</string>
	<string>machdep.cpu.arch_perf.fixed_number</string>
	<string>machdep.cpu.arch_perf.fixed_width</string>
	<string>machdep.cpu.arch_perf.number</string>
	<string>machdep.cpu.arch_perf.version</string>
	<string>machdep.cpu.arch_perf.width</string>
	<string>machdep.cpu.brand</string>
	<string>machdep.cpu.brand_string</string>
	<string>machdep.cpu.cache.L2_associativity</string>
	<string>machdep.cpu.cache.linesize</string>
	<string>machdep.cpu.cache.size</string>
	<string>machdep.cpu.core_count</string>
	<string>machdep.cpu.cores_per_package</string>
	<string>machdep.cpu.extfamily</string>
	<string>machdep.cpu.extfeature_bits</string>
	<string>machdep.cpu.extfeatures</string>
	<string>machdep.cpu.extmodel</string>
	<string>machdep.cpu.family</string>
	<string>machdep.cpu.feature_bits</string>
	<string>machdep.cpu.features</string>
	<string>machdep.cpu.logical_per_package</string>
	<string>machdep.cpu.max_basic</string>
	<string>machdep.cpu.max_ext</string>
	<string>machdep.cpu.microcode_version</string>
	<string>machdep.cpu.model</string>
	<string>machdep.cpu.mwait.extensions</string>
	<string>machdep.cpu.mwait.linesize_max</string>
	<string>machdep.cpu.mwait.linesize_min</string>
	<string>machdep.cpu.mwait.sub_Cstates</string>
	<string>machdep.cpu.processor_flag</string>
	<string>machdep.cpu.signature</string>
	<string>machdep.cpu.stepping</string>
	<string>machdep.cpu.thermal.ACNT_MCNT</string>
	<string>machdep.cpu.thermal.core_power_limits</string>
	<string>machdep.cpu.thermal.dynamic_acceleration</string>
	<string>machdep.cpu.thermal.energy_policy</string>
	<string>machdep.cpu.thermal.fine_grain_clock_mod</string>
	<string>machdep.cpu.thermal.hardware_feedback</string>
	<string>machdep.cpu.thermal.invariant_APIC_timer</string>
	<string>machdep.cpu.thermal.package_thermal_intr</string>
	<string>machdep.cpu.thermal.sensor</string>
	<string>machdep.cpu.thermal.thresholds</string>
	<string>machdep.cpu.thread_count</string>
	<string>machdep.cpu.tlb.data.large</string>
	<string>machdep.cpu.tlb.data.small</string>
	<string>machdep.cpu.tlb.inst.large</string>
	<string>machdep.cpu.tlb.inst.small</string>
	<string>machdep.cpu.tlb.shared</string>
	<string>machdep.cpu.vendor</string>
	<string>machdep.cpu.xsave.extended_state</string>
	<string>machdep.eager_timer_evaluation_max</string>
	<string>machdep.eager_timer_evaluations</string>
	<string>machdep.memmap.ACPINVS</string>
	<string>machdep.memmap.ACPIReclaim</string>
	<string>machdep.memmap.Conventional</string>
	<string>machdep.memmap.Other</string>
	<string>machdep.memmap.PalCode</string>
	<string>machdep.memmap.Reserved</string>
	<string>machdep.memmap.RuntimeServices</string>
	<string>machdep.memmap.Unusable</string>
	<string>machdep.misc.fast_uexc_support</string>
	<string>machdep.misc.interrupt_latency_max</string>
	<string>machdep.misc.machine_check_panic</string>
	<string>machdep.misc.nmis</string>
	<string>machdep.misc.panic_restart_timeout</string>
	<string>machdep.misc.timer_queue_trace</string>
	<string>machdep.pmap.hashcnts</string>
	<string>machdep.pmap.hashmax</string>
	<string>machdep.pmap.hashwalks</string>
	<string>machdep.pmap.kern_pv_reserve</string>
	<string>machdep.pmap.kernel_text_ps</string>
	<string>machdep.tsc.deep_idle_rebase</string>
	<string>machdep.tsc.frequency</string>
	<string>machdep.tsc.nanotime.generation</string>
	<string>machdep.tsc.nanotime.ns_base</string>
	<string>machdep.tsc.nanotime.scale</string>
	<string>machdep.tsc.nanotime.shift</string>
	<string>machdep.tsc.nanotime.tsc_base</string>
	<string>machdep.user_idle_level</string>
	<string>machdep.vectors.IPI</string>
	<string>machdep.vectors.timer</string>
	<string>machdep.xcpm.asserts_enabled</string>
	<string>machdep.xcpm.asserts_traced</string>
	<string>machdep.xcpm.cpu_wakeup_energy_cost_selector</string>
	<string>machdep.xcpm.deep_idle_log</string>
	<string>machdep.xcpm.disable_idle_self_select</string>
	<string>machdep.xcpm.disable_quiesce</string>
	<string>machdep.xcpm.forced_idle_period</string>
	<string>machdep.xcpm.forced_idle_ratio</string>
	<string>machdep.xcpm.hard_plimit_max_100mhz_ratio</string>
	<string>machdep.xcpm.hard_plimit_min_100mhz_ratio</string>
	<string>machdep.xcpm.maxbusdelay</string>
	<string>machdep.xcpm.maxintdelay</string>
	<string>machdep.xcpm.mbd_applications</string>
	<string>machdep.xcpm.mbd_mode</string>
	<string>machdep.xcpm.mbd_relaxations</string>
	<string>machdep.xcpm.mode</string>
	<string>machdep.xcpm.mp_load_txfr_coeff</string>
	<string>machdep.xcpm.mp_match</string>
	<string>machdep.xcpm.q_migration_ttd</string>
	<string>machdep.xcpm.qos_ratelimiting_enabled</string>
	<string>machdep.xcpm.qos_ratio_change_hf_limit</string>
	<string>machdep.xcpm.qos_ratio_change_lf_limit</string>
	<string>machdep.xcpm.qos_ratio_change_limited</string>
	<string>machdep.xcpm.qos_txfr</string>
	<string>machdep.xcpm.quiesce_trace</string>
	<string>machdep.xcpm.ratio_change_hf_limit</string>
	<string>machdep.xcpm.ratio_change_lf_limit</string>
	<string>machdep.xcpm.ratio_change_limited</string>
	<string>machdep.xcpm.ratio_change_ratelimit_ns</string>
	<string>machdep.xcpm.ratio_changes_hf</string>
	<string>machdep.xcpm.ratio_changes_lf</string>
	<string>machdep.xcpm.ratio_changes_total</string>
	<string>machdep.xcpm.scalability_cpi_demotion_threshold</string>
	<string>machdep.xcpm.scalability_cpi_threshold</string>
	<string>machdep.xcpm.scalability_detection_enabled</string>
	<string>machdep.xcpm.scalability_eval_ratio_min</string>
	<string>machdep.xcpm.scalability_reeval_interval</string>
	<string>machdep.xcpm.soft_plimit_max_100mhz_ratio</string>
	<string>machdep.xcpm.soft_plimit_min_100mhz_ratio</string>
	<string>net.alf.defaultaction</string>
	<string>net.alf.loglevel</string>
	<string>net.alf.mqcount</string>
	<string>net.alf.perm</string>
	<string>net.classq.sfb.allocation</string>
	<string>net.classq.sfb.decrement</string>
	<string>net.classq.sfb.hinterval</string>
	<string>net.classq.sfb.holdtime</string>
	<string>net.classq.sfb.increment</string>
	<string>net.classq.sfb.pboxtime</string>
	<string>net.classq.sfb.ratelimit</string>
	<string>net.classq.verbose</string>
	<string>net.inet.icmp.bmcastecho</string>
	<string>net.inet.icmp.drop_redirect</string>
	<string>net.inet.icmp.icmplim</string>
	<string>net.inet.icmp.log_redirect</string>
	<string>net.inet.icmp.maskrepl</string>
	<string>net.inet.icmp.timestamp</string>
	<string>net.inet.igmp.debug</string>
	<string>net.inet.igmp.default_version</string>
	<string>net.inet.igmp.gsrdelay</string>
	<string>net.inet.igmp.legacysupp</string>
	<string>net.inet.igmp.recvifkludge</string>
	<string>net.inet.igmp.sendlocal</string>
	<string>net.inet.igmp.sendra</string>
	<string>net.inet.igmp.v1enable</string>
	<string>net.inet.igmp.v2enable</string>
	<string>net.inet.ip.accept_sourceroute</string>
	<string>net.inet.ip.adj_clear_hwcksum</string>
	<string>net.inet.ip.check_interface</string>
	<string>net.inet.ip.dummynet.curr_time</string>
	<string>net.inet.ip.dummynet.debug</string>
	<string>net.inet.ip.dummynet.expire</string>
	<string>net.inet.ip.dummynet.extract_heap</string>
	<string>net.inet.ip.dummynet.hash_size</string>
	<string>net.inet.ip.dummynet.max_chain_len</string>
	<string>net.inet.ip.dummynet.ready_heap</string>
	<string>net.inet.ip.dummynet.red_avg_pkt_size</string>
	<string>net.inet.ip.dummynet.red_lookup_depth</string>
	<string>net.inet.ip.dummynet.red_max_pkt_size</string>
	<string>net.inet.ip.dummynet.search_steps</string>
	<string>net.inet.ip.dummynet.searches</string>
	<string>net.inet.ip.forwarding</string>
	<string>net.inet.ip.fragpackets</string>
	<string>net.inet.ip.fw.autoinc_step</string>
	<string>net.inet.ip.fw.curr_dyn_buckets</string>
	<string>net.inet.ip.fw.debug</string>
	<string>net.inet.ip.fw.dyn_ack_lifetime</string>
	<string>net.inet.ip.fw.dyn_buckets</string>
	<string>net.inet.ip.fw.dyn_count</string>
	<string>net.inet.ip.fw.dyn_fin_lifetime</string>
	<string>net.inet.ip.fw.dyn_keepalive</string>
	<string>net.inet.ip.fw.dyn_max</string>
	<string>net.inet.ip.fw.dyn_rst_lifetime</string>
	<string>net.inet.ip.fw.dyn_short_lifetime</string>
	<string>net.inet.ip.fw.dyn_syn_lifetime</string>
	<string>net.inet.ip.fw.dyn_udp_lifetime</string>
	<string>net.inet.ip.fw.enable</string>
	<string>net.inet.ip.fw.one_pass</string>
	<string>net.inet.ip.fw.static_count</string>
	<string>net.inet.ip.fw.verbose</string>
	<string>net.inet.ip.fw.verbose_limit</string>
	<string>net.inet.ip.gifttl</string>
	<string>net.inet.ip.linklocal.in.allowbadttl</string>
	<string>net.inet.ip.maxchainsent</string>
	<string>net.inet.ip.maxfragpackets</string>
	<string>net.inet.ip.maxfragsperpacket</string>
	<string>net.inet.ip.mcast.loop</string>
	<string>net.inet.ip.mcast.maxgrpsrc</string>
	<string>net.inet.ip.mcast.maxsocksrc</string>
	<string>net.inet.ip.portrange.first</string>
	<string>net.inet.ip.portrange.hifirst</string>
	<string>net.inet.ip.portrange.hilast</string>
	<string>net.inet.ip.portrange.last</string>
	<string>net.inet.ip.portrange.lowfirst</string>
	<string>net.inet.ip.portrange.lowlast</string>
	<string>net.inet.ip.random_id</string>
	<string>net.inet.ip.random_id_collisions</string>
	<string>net.inet.ip.random_id_statistics</string>
	<string>net.inet.ip.random_id_total</string>
	<string>net.inet.ip.redirect</string>
	<string>net.inet.ip.rtexpire</string>
	<string>net.inet.ip.rtmaxcache</string>
	<string>net.inet.ip.rtminexpire</string>
	<string>net.inet.ip.scopedroute</string>
	<string>net.inet.ip.select_srcif_debug</string>
	<string>net.inet.ip.sendsourcequench</string>
	<string>net.inet.ip.sourceroute</string>
	<string>net.inet.ip.subnets_are_local</string>
	<string>net.inet.ip.ttl</string>
	<string>net.inet.ipsec.ah_cleartos</string>
	<string>net.inet.ipsec.ah_net_deflev</string>
	<string>net.inet.ipsec.ah_offsetmask</string>
	<string>net.inet.ipsec.ah_trans_deflev</string>
	<string>net.inet.ipsec.bypass</string>
	<string>net.inet.ipsec.debug</string>
	<string>net.inet.ipsec.def_policy</string>
	<string>net.inet.ipsec.dfbit</string>
	<string>net.inet.ipsec.ecn</string>
	<string>net.inet.ipsec.esp_net_deflev</string>
	<string>net.inet.ipsec.esp_port</string>
	<string>net.inet.ipsec.esp_randpad</string>
	<string>net.inet.ipsec.esp_trans_deflev</string>
	<string>net.inet.raw.maxdgram</string>
	<string>net.inet.raw.pcbcount</string>
	<string>net.inet.raw.recvspace</string>
	<string>net.inet.tcp.acc_iaj_high_thresh</string>
	<string>net.inet.tcp.acc_iaj_react_limit</string>
	<string>net.inet.tcp.ack_prioritize</string>
	<string>net.inet.tcp.always_keepalive</string>
	<string>net.inet.tcp.autorcvbufincshift</string>
	<string>net.inet.tcp.autorcvbufmax</string>
	<string>net.inet.tcp.autosndbufinc</string>
	<string>net.inet.tcp.autosndbufmax</string>
	<string>net.inet.tcp.background_io_enabled</string>
	<string>net.inet.tcp.background_io_trigger</string>
	<string>net.inet.tcp.background_sockets</string>
	<string>net.inet.tcp.bg_allowed_increase</string>
	<string>net.inet.tcp.bg_ss_fltsz</string>
	<string>net.inet.tcp.bg_target_qdelay</string>
	<string>net.inet.tcp.bg_tether_shift</string>
	<string>net.inet.tcp.blackhole</string>
	<string>net.inet.tcp.broken_peer_syn_rexmit_thres_local</string>
	<string>net.inet.tcp.broken_peer_syn_rxmit_thres</string>
	<string>net.inet.tcp.delayed_ack</string>
	<string>net.inet.tcp.do_tcpdrain</string>
	<string>net.inet.tcp.doautorcvbuf</string>
	<string>net.inet.tcp.doautosndbuf</string>
	<string>net.inet.tcp.drop_synfin</string>
	<string>net.inet.tcp.early_rexmt</string>
	<string>net.inet.tcp.ecn_initiate_out</string>
	<string>net.inet.tcp.ecn_negotiate_in</string>
	<string>net.inet.tcp.icmp_may_rst</string>
	<string>net.inet.tcp.isn_reseed_interval</string>
	<string>net.inet.tcp.keepcnt</string>
	<string>net.inet.tcp.keepidle</string>
	<string>net.inet.tcp.keepinit</string>
	<string>net.inet.tcp.keepintvl</string>
	<string>net.inet.tcp.limited_transmit</string>
	<string>net.inet.tcp.local_slowstart_flightsize</string>
	<string>net.inet.tcp.log_in_vain</string>
	<string>net.inet.tcp.lro</string>
	<string>net.inet.tcp.lro_startcnt</string>
	<string>net.inet.tcp.lro_sz</string>
	<string>net.inet.tcp.lro_time</string>
	<string>net.inet.tcp.lrodbg</string>
	<string>net.inet.tcp.max_persist_timeout</string>
	<string>net.inet.tcp.maxseg_unacked</string>
	<string>net.inet.tcp.min_iaj_win</string>
	<string>net.inet.tcp.minmss</string>
	<string>net.inet.tcp.msl</string>
	<string>net.inet.tcp.mssdflt</string>
	<string>net.inet.tcp.newreno_sockets</string>
	<string>net.inet.tcp.packetchain</string>
	<string>net.inet.tcp.path_mtu_discovery</string>
	<string>net.inet.tcp.pcbcount</string>
	<string>net.inet.tcp.pmtud_blackhole_detection</string>
	<string>net.inet.tcp.pmtud_blackhole_mss</string>
	<string>net.inet.tcp.randomize_ports</string>
	<string>net.inet.tcp.rcvsspktcnt</string>
	<string>net.inet.tcp.reass.cursegments</string>
	<string>net.inet.tcp.reass.maxsegments</string>
	<string>net.inet.tcp.reass.overflows</string>
	<string>net.inet.tcp.recv_allowed_iaj</string>
	<string>net.inet.tcp.recv_throttle_minwin</string>
	<string>net.inet.tcp.recvbg</string>
	<string>net.inet.tcp.recvspace</string>
	<string>net.inet.tcp.rexmt_slop</string>
	<string>net.inet.tcp.rexmt_thresh</string>
	<string>net.inet.tcp.rfc1323</string>
	<string>net.inet.tcp.rfc1644</string>
	<string>net.inet.tcp.rfc3390</string>
	<string>net.inet.tcp.rfc3465</string>
	<string>net.inet.tcp.rfc3465_lim2</string>
	<string>net.inet.tcp.rtt_min</string>
	<string>net.inet.tcp.rtt_recvbg</string>
	<string>net.inet.tcp.rtt_samples_per_slot</string>
	<string>net.inet.tcp.sack</string>
	<string>net.inet.tcp.sack_ackadv</string>
	<string>net.inet.tcp.sack_globalholes</string>
	<string>net.inet.tcp.sack_globalmaxholes</string>
	<string>net.inet.tcp.sack_maxholes</string>
	<string>net.inet.tcp.sendspace</string>
	<string>net.inet.tcp.slowlink_wsize</string>
	<string>net.inet.tcp.slowstart_flightsize</string>
	<string>net.inet.tcp.socket_unlocked_on_output</string>
	<string>net.inet.tcp.strict_rfc1948</string>
	<string>net.inet.tcp.tcbhashsize</string>
	<string>net.inet.tcp.tcp_lq_overflow</string>
	<string>net.inet.tcp.tcp_resched_timerlist</string>
	<string>net.inet.tcp.tcp_timer_advanced</string>
	<string>net.inet.tcp.timer_fastmode_idlemax</string>
	<string>net.inet.tcp.timer_fastquantum</string>
	<string>net.inet.tcp.timer_slowquantum</string>
	<string>net.inet.tcp.tso</string>
	<string>net.inet.tcp.tw_pcbcount</string>
	<string>net.inet.tcp.v6mssdflt</string>
	<string>net.inet.tcp.win_scale_factor</string>
	<string>net.inet.udp.blackhole</string>
	<string>net.inet.udp.checksum</string>
	<string>net.inet.udp.log_in_vain</string>
	<string>net.inet.udp.maxdgram</string>
	<string>net.inet.udp.pcbcount</string>
	<string>net.inet.udp.randomize_ports</string>
	<string>net.inet.udp.recvspace</string>
	<string>net.inet6.icmp6.errppslimit</string>
	<string>net.inet6.icmp6.nd6_accept_6to4</string>
	<string>net.inet6.icmp6.nd6_debug</string>
	<string>net.inet6.icmp6.nd6_delay</string>
	<string>net.inet6.icmp6.nd6_llreach_base</string>
	<string>net.inet6.icmp6.nd6_maxproxiedsol</string>
	<string>net.inet6.icmp6.nd6_maxsolstgt</string>
	<string>net.inet6.icmp6.nd6_mmaxtries</string>
	<string>net.inet6.icmp6.nd6_onlink_ns_rfc4861</string>
	<string>net.inet6.icmp6.nd6_optimistic_dad</string>
	<string>net.inet6.icmp6.nd6_prune</string>
	<string>net.inet6.icmp6.nd6_prune_lazy</string>
	<string>net.inet6.icmp6.nd6_umaxtries</string>
	<string>net.inet6.icmp6.nd6_useloopback</string>
	<string>net.inet6.icmp6.nodeinfo</string>
	<string>net.inet6.icmp6.prproxy_cnt</string>
	<string>net.inet6.icmp6.rediraccept</string>
	<string>net.inet6.icmp6.redirtimeout</string>
	<string>net.inet6.ip6.accept_rtadv</string>
	<string>net.inet6.ip6.adj_clear_hwcksum</string>
	<string>net.inet6.ip6.auto_flowlabel</string>
	<string>net.inet6.ip6.auto_linklocal</string>
	<string>net.inet6.ip6.dad_count</string>
	<string>net.inet6.ip6.defmcasthlim</string>
	<string>net.inet6.ip6.forwarding</string>
	<string>net.inet6.ip6.fragpackets</string>
	<string>net.inet6.ip6.fw.debug</string>
	<string>net.inet6.ip6.fw.enable</string>
	<string>net.inet6.ip6.fw.verbose</string>
	<string>net.inet6.ip6.fw.verbose_limit</string>
	<string>net.inet6.ip6.gifhlim</string>
	<string>net.inet6.ip6.hdrnestlimit</string>
	<string>net.inet6.ip6.hlim</string>
	<string>net.inet6.ip6.kame_version</string>
	<string>net.inet6.ip6.keepfaith</string>
	<string>net.inet6.ip6.log_interval</string>
	<string>net.inet6.ip6.maxchainsent</string>
	<string>net.inet6.ip6.maxdynroutes</string>
	<string>net.inet6.ip6.maxfragpackets</string>
	<string>net.inet6.ip6.maxfrags</string>
	<string>net.inet6.ip6.maxifdefrouters</string>
	<string>net.inet6.ip6.maxifprefixes</string>
	<string>net.inet6.ip6.mcast.loop</string>
	<string>net.inet6.ip6.mcast.maxgrpsrc</string>
	<string>net.inet6.ip6.mcast.maxsocksrc</string>
	<string>net.inet6.ip6.mcast_pmtu</string>
	<string>net.inet6.ip6.neighborgcthresh</string>
	<string>net.inet6.ip6.only_allow_rfc4193_prefixes</string>
	<string>net.inet6.ip6.prefer_tempaddr</string>
	<string>net.inet6.ip6.redirect</string>
	<string>net.inet6.ip6.rr_prune</string>
	<string>net.inet6.ip6.rtexpire</string>
	<string>net.inet6.ip6.rtmaxcache</string>
	<string>net.inet6.ip6.rtminexpire</string>
	<string>net.inet6.ip6.scopedroute</string>
	<string>net.inet6.ip6.select_srcif_debug</string>
	<string>net.inet6.ip6.temppltime</string>
	<string>net.inet6.ip6.tempvltime</string>
	<string>net.inet6.ip6.use_defaultzone</string>
	<string>net.inet6.ip6.use_deprecated</string>
	<string>net.inet6.ip6.use_tempaddr</string>
	<string>net.inet6.ip6.v6only</string>
	<string>net.inet6.ipsec6.ah_net_deflev</string>
	<string>net.inet6.ipsec6.ah_trans_deflev</string>
	<string>net.inet6.ipsec6.debug</string>
	<string>net.inet6.ipsec6.def_policy</string>
	<string>net.inet6.ipsec6.ecn</string>
	<string>net.inet6.ipsec6.esp_net_deflev</string>
	<string>net.inet6.ipsec6.esp_randpad</string>
	<string>net.inet6.ipsec6.esp_trans_deflev</string>
	<string>net.inet6.mld.debug</string>
	<string>net.inet6.mld.gsrdelay</string>
	<string>net.inet6.mld.use_allow</string>
	<string>net.inet6.mld.v1enable</string>
	<string>net.inet6.mld.v2enable</string>
	<string>net.inet6.send.opmode</string>
	<string>net.inet6.send.opstate</string>
	<string>net.key.ah_keymin</string>
	<string>net.key.blockacq_count</string>
	<string>net.key.blockacq_lifetime</string>
	<string>net.key.debug</string>
	<string>net.key.esp_auth</string>
	<string>net.key.esp_keymin</string>
	<string>net.key.int_random</string>
	<string>net.key.larval_lifetime</string>
	<string>net.key.natt_keepalive_interval</string>
	<string>net.key.prefered_oldsa</string>
	<string>net.key.spi_maxval</string>
	<string>net.key.spi_minval</string>
	<string>net.key.spi_trycnt</string>
	<string>net.link.bridge.debug</string>
	<string>net.link.bridge.inherit_mac</string>
	<string>net.link.bridge.rtable_hash_size_max</string>
	<string>net.link.bridge.rtable_prune_period</string>
	<string>net.link.bridge.txstart</string>
	<string>net.link.ether.inet.apple_hwcksum_rx</string>
	<string>net.link.ether.inet.apple_hwcksum_tx</string>
	<string>net.link.ether.inet.arp_llreach_base</string>
	<string>net.link.ether.inet.arp_unicast_lim</string>
	<string>net.link.ether.inet.host_down_time</string>
	<string>net.link.ether.inet.keep_announcements</string>
	<string>net.link.ether.inet.log_arp_warnings</string>
	<string>net.link.ether.inet.max_age</string>
	<string>net.link.ether.inet.maxtries</string>
	<string>net.link.ether.inet.proxyall</string>
	<string>net.link.ether.inet.prune_intvl</string>
	<string>net.link.ether.inet.send_conflicting_probes</string>
	<string>net.link.ether.inet.sendllconflict</string>
	<string>net.link.ether.inet.useloopback</string>
	<string>net.link.ether.inet.verbose</string>
	<string>net.link.generic.system.dlil_input_sanity_check</string>
	<string>net.link.generic.system.dlil_input_threads</string>
	<string>net.link.generic.system.dlil_lladdr_ckreq</string>
	<string>net.link.generic.system.dlil_verbose</string>
	<string>net.link.generic.system.flow_advisory</string>
	<string>net.link.generic.system.hwcksum_dbg</string>
	<string>net.link.generic.system.hwcksum_dbg_adjusted</string>
	<string>net.link.generic.system.hwcksum_dbg_bad_cksum</string>
	<string>net.link.generic.system.hwcksum_dbg_bad_rxoff</string>
	<string>net.link.generic.system.hwcksum_dbg_finalized_data</string>
	<string>net.link.generic.system.hwcksum_dbg_finalized_hdr</string>
	<string>net.link.generic.system.hwcksum_dbg_mode</string>
	<string>net.link.generic.system.hwcksum_dbg_partial_forced</string>
	<string>net.link.generic.system.hwcksum_dbg_partial_forced_bytes</string>
	<string>net.link.generic.system.hwcksum_dbg_partial_rxoff_adj</string>
	<string>net.link.generic.system.hwcksum_dbg_partial_rxoff_forced</string>
	<string>net.link.generic.system.hwcksum_dbg_verified</string>
	<string>net.link.generic.system.hwcksum_in_invalidated</string>
	<string>net.link.generic.system.hwcksum_rx</string>
	<string>net.link.generic.system.hwcksum_tx</string>
	<string>net.link.generic.system.if_bw_measure_size</string>
	<string>net.link.generic.system.if_bw_smoothing_val</string>
	<string>net.link.generic.system.if_verbose</string>
	<string>net.link.generic.system.ifcount</string>
	<string>net.link.generic.system.rcvq_maxlen</string>
	<string>net.link.generic.system.rxpoll</string>
	<string>net.link.generic.system.rxpoll_decay</string>
	<string>net.link.generic.system.rxpoll_freeze_time</string>
	<string>net.link.generic.system.rxpoll_interval_pkts</string>
	<string>net.link.generic.system.rxpoll_interval_time</string>
	<string>net.link.generic.system.rxpoll_max</string>
	<string>net.link.generic.system.rxpoll_sample_time</string>
	<string>net.link.generic.system.rxpoll_wakeups_hiwat</string>
	<string>net.link.generic.system.rxpoll_wakeups_lowat</string>
	<string>net.link.generic.system.sndq_maxlen</string>
	<string>net.link.iptap.log</string>
	<string>net.link.iptap.total_tap_count</string>
	<string>net.link.loopback.bw_measure</string>
	<string>net.link.loopback.bw_sleep_usec</string>
	<string>net.link.loopback.dequeue_sc</string>
	<string>net.link.loopback.max_dequeue</string>
	<string>net.link.loopback.sched_model</string>
	<string>net.link.pktap.count_unknown_if_type</string>
	<string>net.link.pktap.log</string>
	<string>net.link.pktap.total_tap_count</string>
	<string>net.local.dgram.maxdgram</string>
	<string>net.local.dgram.recvspace</string>
	<string>net.local.inflight</string>
	<string>net.local.stream.recvspace</string>
	<string>net.local.stream.sendspace</string>
	<string>net.local.stream.tracemdns</string>
	<string>net.ndrv_multi_max_count</string>
	<string>net.pktsched.verbose</string>
	<string>net.route.verbose</string>
	<string>net.statistics</string>
	<string>net.statistics_privcheck</string>
	<string>security.mac.device_enforce</string>
	<string>security.mac.labelvnodes</string>
	<string>security.mac.max_slots</string>
	<string>security.mac.mmap_revocation</string>
	<string>security.mac.mmap_revocation_via_cow</string>
	<string>security.mac.pipe_enforce</string>
	<string>security.mac.posixsem_enforce</string>
	<string>security.mac.posixshm_enforce</string>
	<string>security.mac.proc_enforce</string>
	<string>security.mac.qtn.sandbox_enforce</string>
	<string>security.mac.qtn.user_approved_exec</string>
	<string>security.mac.sandbox.audio_active</string>
	<string>security.mac.sandbox.sentinel</string>
	<string>security.mac.socket_enforce</string>
	<string>security.mac.system_enforce</string>
	<string>security.mac.sysvmsg_enforce</string>
	<string>security.mac.sysvsem_enforce</string>
	<string>security.mac.sysvshm_enforce</string>
	<string>security.mac.vm_enforce</string>
	<string>security.mac.vnode_enforce</string>
	<string>user.cs_path</string>
	<string>vfs.generic.always_do_fullfsync</string>
	<string>vfs.generic.hfs.kdebug.allocation</string>
	<string>vfs.generic.jnl.kdebug.trim</string>
	<string>vfs.generic.nfs.client.access_cache_timeout</string>
	<string>vfs.generic.nfs.client.access_delete</string>
	<string>vfs.generic.nfs.client.access_dotzfs</string>
	<string>vfs.generic.nfs.client.access_for_getattr</string>
	<string>vfs.generic.nfs.client.allow_async</string>
	<string>vfs.generic.nfs.client.callback_port</string>
	<string>vfs.generic.nfs.client.debug_ctl</string>
	<string>vfs.generic.nfs.client.idmap_ctrl</string>
	<string>vfs.generic.nfs.client.initialdowndelay</string>
	<string>vfs.generic.nfs.client.iosize</string>
	<string>vfs.generic.nfs.client.is_mobile</string>
	<string>vfs.generic.nfs.client.lockd_mounts</string>
	<string>vfs.generic.nfs.client.max_async_writes</string>
	<string>vfs.generic.nfs.client.nextdowndelay</string>
	<string>vfs.generic.nfs.client.nfsiod_thread_count</string>
	<string>vfs.generic.nfs.client.nfsiod_thread_max</string>
	<string>vfs.generic.nfs.client.single_des</string>
	<string>vfs.generic.nfs.client.squishy_flags</string>
	<string>vfs.generic.nfs.client.statfs_rate_limit</string>
	<string>vfs.generic.nfs.server.async</string>
	<string>vfs.generic.nfs.server.export_hash_size</string>
	<string>vfs.generic.nfs.server.fsevents</string>
	<string>vfs.generic.nfs.server.gss_context_ttl</string>
	<string>vfs.generic.nfs.server.nfsd_thread_count</string>
	<string>vfs.generic.nfs.server.nfsd_thread_max</string>
	<string>vfs.generic.nfs.server.reqcache_size</string>
	<string>vfs.generic.nfs.server.request_queue_length</string>
	<string>vfs.generic.nfs.server.require_resv_port</string>
	<string>vfs.generic.nfs.server.upcall_queue_count</string>
	<string>vfs.generic.nfs.server.upcall_queue_limit</string>
	<string>vfs.generic.nfs.server.upcall_queue_max_seen</string>
	<string>vfs.generic.nfs.server.use_upcall_svc</string>
	<string>vfs.generic.nfs.server.user_stats</string>
	<string>vfs.generic.nfs.server.wg_delay</string>
	<string>vfs.generic.nfs.server.wg_delay_v3</string>
	<string>vfs.generic.root_unmounted_cleanly</string>
	<string>vm.all_reusable_calls</string>
	<string>vm.all_reuse_calls</string>
	<string>vm.allow_data_exec</string>
	<string>vm.allow_stack_exec</string>
	<string>vm.can_reuse_failure</string>
	<string>vm.can_reuse_success</string>
	<string>vm.compressor_bytes_used</string>
	<string>vm.compressor_catchup_threshold_divisor</string>
	<string>vm.compressor_eval_period_in_msecs</string>
	<string>vm.compressor_majorcompact_threshold_divisor</string>
	<string>vm.compressor_minorcompact_threshold_divisor</string>
	<string>vm.compressor_mode</string>
	<string>vm.compressor_sample_max_in_msecs</string>
	<string>vm.compressor_sample_min_in_msecs</string>
	<string>vm.compressor_swapout_target_age</string>
	<string>vm.compressor_thrashing_min_per_10msecs</string>
	<string>vm.compressor_thrashing_threshold_per_10msecs</string>
	<string>vm.compressor_unthrottle_threshold_divisor</string>
	<string>vm.cs_all_vnodes</string>
	<string>vm.cs_blob_count</string>
	<string>vm.cs_blob_count_peak</string>
	<string>vm.cs_blob_size</string>
	<string>vm.cs_blob_size_max</string>
	<string>vm.cs_blob_size_peak</string>
	<string>vm.cs_debug</string>
	<string>vm.cs_enforcement</string>
	<string>vm.cs_enforcement_panic</string>
	<string>vm.cs_force_hard</string>
	<string>vm.cs_force_kill</string>
	<string>vm.cs_validation</string>
	<string>vm.global_no_user_wire_amount</string>
	<string>vm.global_user_wire_limit</string>
	<string>vm.loadavg</string>
	<string>vm.madvise_free_debug</string>
	<string>vm.memory_pressure</string>
	<string>vm.page_cleaned_count</string>
	<string>vm.page_free_count</string>
	<string>vm.page_free_wanted</string>
	<string>vm.page_purgeable_count</string>
	<string>vm.page_purgeable_wired_count</string>
	<string>vm.page_reusable_count</string>
	<string>vm.page_speculative_count</string>
	<string>vm.pageout_cleaned</string>
	<string>vm.pageout_cleaned_busy</string>
	<string>vm.pageout_cleaned_commit_reactivated</string>
	<string>vm.pageout_cleaned_fault_reactivated</string>
	<string>vm.pageout_cleaned_nolock</string>
	<string>vm.pageout_cleaned_reactivated</string>
	<string>vm.pageout_cleaned_reference_reactivated</string>
	<string>vm.pageout_cleaned_volatile_reactivated</string>
	<string>vm.pageout_enqueued_cleaned</string>
	<string>vm.pageout_enqueued_cleaned_from_inactive_clean</string>
	<string>vm.pageout_enqueued_cleaned_from_inactive_dirty</string>
	<string>vm.pageout_freed_from_cleaned</string>
	<string>vm.pageout_freed_from_inactive_clean</string>
	<string>vm.pageout_freed_from_speculative</string>
	<string>vm.pageout_inactive_clean</string>
	<string>vm.pageout_inactive_dirty_external</string>
	<string>vm.pageout_inactive_dirty_internal</string>
	<string>vm.pageout_inactive_used</string>
	<string>vm.pageout_speculative_clean</string>
	<string>vm.partial_reusable_calls</string>
	<string>vm.partial_reuse_calls</string>
	<string>vm.reusable_failure</string>
	<string>vm.reusable_reclaimed</string>
	<string>vm.reusable_shared</string>
	<string>vm.reusable_success</string>
	<string>vm.reuse_failure</string>
	<string>vm.reuse_success</string>
	<string>vm.shared_region_persistence</string>
	<string>vm.shared_region_trace_level</string>
	<string>vm.shared_region_unnest_logging</string>
	<string>vm.shared_region_version</string>
	<string>vm.sigpup_disable</string>
	<string>vm.swapusage</string>
	<string>vm.user_wire_limit</string>
	<string>vm.vm_copy_src_large</string>
	<string>vm.vm_copy_src_not_internal</string>
	<string>vm.vm_copy_src_not_symmetric</string>
	<string>vm.vm_debug_events</string>
	<string>vm.vm_page_external_count</string>
	<string>vm.vm_page_filecache_min</string>
	<string>vm.vm_page_free_target</string>
</array>
</plist>